extends layout

block content
    #form
        h3 Calculate the shortest and the fastest paths between cities in Croatia:
        div.row
            div.col-sm-1
                p Source:
            div.col-sm-4
                input#source.form-control(type='text', list='cityNames', placeholder='e.g. Zagreb')
                datalist#cityNames
                   //-var data = jsonDataCityNames.features
                    -for(var prop in data)
                        option #{data[prop].properties.f2}

        div.row
            div.col-sm-1
                p Destination:
            div.col-sm-4
                input#destination.form-control(type='text', list='cityNames', placeholder='e.g. Split')
                datalist#cityNames
                   //-var data = jsonDataCityNames.features
                    -for(var prop in data)
                        option #{data[prop].properties.f2}
   
        div.row
            div.col-sm-2
                p.form-check
                    input#shortestPath.form-check-input(type='radio', name='exampleRadios', value='shortestPath', checked='')
                    label.form-check-label(for='shortestPath')
                        | Shortest path
            div.col-sm-2
                p.form-check
                    input#fastestPath.form-check-input(type='radio', name='exampleRadios', value='fastestPath')
                    label.form-check-label(for='fastestPath')
                        | Fastest path
        div.row
            .col-sm-2
                p.form-check
                    input#checkHighway.form-check-input(type='checkbox', value='avoidHighway')
                    label.form-check-label(for='checkHighway')
                        | Avoid the highway

        div.row
            #submitButton
                p
                    button#submit.btn.btn-danger(type='button') CALCULATE

    #map
    .card
        .card-header   
            h4 Results
        table.table.table-hover.table-fixed
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Source
                    th(scope='col') Destination
                    th(scope='col') Coordinates
            tbody

    script.
        // Create variable to hold map element, give initial settings to map
        var map = L.map('map', { 
            center: [44.4738, 16.4689], 
            zoom: 7
        }); 
        // Add OpenStreetMap tile layer to map element
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { 
        	attribution: '© OpenStreetMap' 
        }).addTo(map);

        var marker_source = L.marker([45.784045, 15.979614], {'draggable': true}).addTo(map);
        marker_source.bindPopup('Source').openPopup();

        var marker_dest = L.marker([43.513016, 16.480865], {'draggable': true}).addTo(map);
        marker_dest.bindPopup('Destination').openPopup();

        document.getElementById('submit').addEventListener('click', function() {

            var source_lat = marker_source.getLatLng().lat;
            var source_lng = marker_source.getLatLng().lng;
            var dest_lat = marker_dest.getLatLng().lat;
            var dest_lng = marker_dest.getLatLng().lng;

            if ($('#shortestPath').is(':checked')) { 
                var algorithm = $('#shortestPath').val(); 
            }
            if ($('#fastestPath').is(':checked')) { 
                var algorithm = $('#fastestPath').val();
            }
            if ($('#checkHighway').is(':checked')) { 
                var optional = $('#checkHighway').val();
            } else {
                var optional = null;
            }
            fetch('/getData', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify({
                    data: {
                        source_lat: source_lat,
                        source_lng: source_lng,
                        dest_lat: dest_lat,
                        dest_lng: dest_lng,
                        path: algorithm,
                        optional: optional
                    }
                })
            }).then((response) => response.json()).then((res) => {

                var pointList = [];

                res.rows.forEach(function(row) {
                    var point1 = new L.LatLng(row.row_to_json.y1, row.row_to_json.x1);
                    var point2 = new L.LatLng(row.row_to_json.y2, row.row_to_json.x2);
                    pointList.push(point1);
                    pointList.push(point2);
                });

                var croatia_roads = new L.Polyline(pointList, {
                    color: 'red',
                    weight: 3,
                    opacity: 1,
                    smoothFactor: 1
                });

                var overlayMaps = {
                    "Lines": croatia_roads,
                };

                L.control.layers(null, overlayMaps).addTo(map);
            });
           
        });

        


